form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #f25ca2;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #f25ca2;
  color: white;
}

/* FILTRO */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #f25ca2;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  width: 12rem;
  background-color: rgb(177, 203, 238);
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #f25ca2;
  cursor: pointer;
  pointer-events: none;
}
.filter-todo {
  padding: 1rem;
}
